{% extends 'base.html' %}

{% block title %}Lista de Funcionários{% endblock %}

{% block content %}

{% load static %}

{% load form_tags %}

<div class="container mt-3 px-0">
    <div class="no-print">
        <div class="row mb-3 align-items-center">
            <form method="get" class="row w-100">

                <!-- Campo de quantidade -->
                <div class="col-md-1">
                    <input type="number" name="quantidade" min="1" class="form-control" placeholder=""
                        value="{{ request.GET.quantidade }}" oninput="this.form.submit()">
                </div>

                <!-- Campo de busca -->
                <div class="col-md-3">
                    <input id="searchInput" type="search" name="search" class="form-control" placeholder="Pesquisar..."
                        value="{{ request.GET.search }}">
                </div>

                <!-- Espaço vazio -->
                <div class="col-md-4"></div>

                <!-- Botão "Novo funcionário" alinhado à direita e rente à tabela -->
                <div class="col-md-4 d-flex justify-content-end px-0">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#funcionarioModal" onclick="setCreateMode()">
                        <i class="bi bi-person-plus"></i> Novo funcionário
                    </button>
                </div>


            </form>
        </div>
    </div>

    <div id="content-to-print">
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col" class="matricula-col">Matrícula</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Função</th>
                    <th scope="col">Status</th>
                    <th scope="col">Obra</th>
                    <th class="no-print"></th>
                </tr>
            </thead>
            <tbody>
                {% for funcionario in funcionarios %}
                <tr>
                    <td class="matricula-col">{{ funcionario.matricula }}</td>
                    <td>{{ funcionario.nome }}</td>
                    <td>{{ funcionario.funcao }}</td>
                    <td>{{ funcionario.get_status_display }}</td>
                    <td>{{ funcionario.obra }}</td>
                    <td class="text-center no-print">
                        <!-- Visualizar -->
                        <button type="button" class="btn btn-sm btn-info text-white" style="background-color: #78b7ff;"
                            data-bs-toggle="modal" data-bs-target="#viewModal{{ funcionario.matricula }}">
                            <i class="bi bi-eye text-muted"></i>
                        </button>

                        <!-- Editar -->
                        <button type="button" class="btn btn-warning text-white" data-bs-toggle="modal"
                            data-bs-target="#funcionarioModal" data-matricula="{{ funcionario.matricula }}"
                            data-data-nascimento="{{ funcionario.data_nascimento|date:'Y-m-d' }}"
                            data-nome="{{ funcionario.nome }}" data-cpf="{{ funcionario.cpf }}"
                            data-funcao="{{ funcionario.funcao }}" data-nivel_funcao="{{ funcionario.nivel_funcao }}"
                            data-status="{{ funcionario.status }}" data-obra="{{ funcionario.obra }}"
                            data-data_admissao="{{ funcionario.data_admissao|date:'Y-m-d' }}"
                            data-cep="{{ funcionario.cep }}" data-logradouro="{{ funcionario.logradouro }}"
                            data-bairro="{{ funcionario.bairro }}" data-cidade="{{ funcionario.cidade }}"
                            data-uf="{{ funcionario.uf }}" data-numero="{{ funcionario.numero }}"
                            data-complemento="{{ funcionario.complemento }}" {%if funcionario.foto %}
                            data-foto-url="{{ funcionario.foto.url }}" {% else %} data-foto-url="" {% endif %}
                            data-ordem-servico-existe="{% if funcionario.ordem_servico %}true{% else %}false{% endif %}"
                            data-contrato-trabalho-existe="{% if funcionario.contrato_trabalho %}true{% else %}false{% endif %}"
                            onclick="handleEditClick(this)">
                            <i class="bi bi-pencil text-muted"></i>
                        </button>

                        <!-- Deletar -->
                        <button type="button" class="btn btn-sm btn-danger text-white"
                            style="background-color: #ff5555;" data-bs-toggle="modal"
                            data-bs-target="#deleteModal{{ funcionario.matricula }}">
                            <i class="bi bi-trash text-muted"></i>
                        </button>
                    </td>

                    <!-- Modal de Visualizar -->
                    <div class="modal fade" id="viewModal{{ funcionario.matricula }}" tabindex="-1"
                        aria-labelledby="viewModalLabel{{ funcionario.matricula }}" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color: #78b7ff; color: white;">
                                    <h5 class="modal-title" id="viewModalLabel{{ funcionario.matricula }}">
                                        Detalhes do Funcionário
                                    </h5>
                                    <button type="button" class="btn-close btn-close-white"
                                        data-bs-dismiss="modal"></button>
                                </div>

                                <div class="modal-body"
                                    style="display: flex; flex-wrap: wrap; gap: 20px; align-items: flex-start;">
                                    <!-- Informações do funcionário -->
                                    <div style="flex: 1; min-width: 100px;">
                                        <p><strong>Matrícula:</strong> {{ funcionario.matricula|default:"Não
                                            informado"}}</p>
                                        <p><strong>Data de nascimento:</strong>
                                            {{funcionario.data_nascimento|date:"d/m/Y"|default:"Não informado" }}</p>
                                        <p><strong>Idade:</strong>
                                            {% if funcionario.idade %}
                                            {{ funcionario.idade }} anos
                                            {% else %}
                                            Não informado
                                            {% endif %}
                                        </p>
                                        <p><strong>Nome:</strong> {{ funcionario.nome|default:"Não informado" }}</p>
                                        <p><strong>CPF:</strong>
                                            {% if funcionario.cpf %}
                                            <span data-format-cpf>{{ funcionario.cpf }}</span>
                                            {% else %}
                                            Não informado
                                            {% endif %}
                                        </p>
                                        <p><strong>Função:</strong> {{ funcionario.funcao|default:"Não informado" }}</p>
                                        <p><strong>Nível da função:</strong> {{ funcionario.nivel_funcao|default:"Não
                                            informado" }}</p>
                                        <p><strong>Status:</strong> {{ funcionario.get_status_display|default:"Não
                                            informado" }}</p>
                                        <p><strong>Obra:</strong> {{ funcionario.obra|default:"Não informado" }}</p>
                                        {% if funcionario.data_admissao %}
                                        <p><strong>Data de Admissão:</strong> {{funcionario.data_admissao|date:"d/m/Y"}}
                                        </p>
                                        {% else %}
                                        <p><strong>Data de Admissão:</strong> Não informada</p>
                                        {% endif %}
                                    </div>

                                    <!-- Coluna 2 -->
                                    <div style="flex: 1; min-width: 100px;">
                                        <p><strong>CEP:</strong> {{ funcionario.cep|default:"Não informado" }}</p>
                                        <p><strong>Logradouro:</strong> {{ funcionario.logradouro|default:"Não
                                            informado" }}</p>
                                        <p><strong>Número:</strong> {{ funcionario.numero|default:"Não informado" }}</p>
                                        <p><strong>Complemento:</strong> {{ funcionario.complemento|default:"Não
                                            informado" }}</p>
                                        <p><strong>Bairro:</strong> {{ funcionario.bairro|default:"Não informado" }}</p>
                                        <p><strong>Cidade:</strong> {{ funcionario.cidade|default:"Não informado" }}</p>
                                        <p><strong>UF:</strong> {{ funcionario.uf|default:"Não informado" }}</p>
                                    </div>

                                    <!-- Coluna 3 -->
                                    <div style="flex: 1; min-width: 100px;">
                                        <p><strong>Ordem de Serviço:</strong>
                                            {% if funcionario.ordem_servico %}
                                            <a href="{{ funcionario.ordem_servico.url }}" target="_blank">
                                                <i class="bi bi-eye" style="font-size: 1.5rem;"></i>
                                            </a>
                                            {% else %}
                                            Não informado
                                            {% endif %}
                                        </p>
                                        <p><strong>Contrato de Trabalho:</strong>
                                            {% if funcionario.contrato_trabalho %}
                                            <a href="{{ funcionario.contrato_trabalho.url }}" target="_blank">
                                                <i class="bi bi-eye" style="font-size: 1.5rem;"></i>
                                            </a>
                                            {% else %}
                                            Não informado
                                            {% endif %}
                                        </p>
                                    </div>


                                    <!-- Foto do funcionário com ajuste -->
                                    <div style="flex: 0 0 150px; margin-right: 30px; margin-top: 10px;">
                                        {% if funcionario.foto %}
                                        <img src="{{ funcionario.foto.url }}" alt="Foto de {{ funcionario.nome }}"
                                            class="img-fluid rounded"
                                            style="width: 150px; height: 200px; object-fit: cover;">
                                        {% else %}
                                        <img src="{% static 'img/sem-foto.png' %}" alt="Sem foto"
                                            class="img-fluid rounded"
                                            style="width: 150px; height: 200px; object-fit: cover;">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal de Deleção (dentro do for) -->
                    <div class="modal fade" id="deleteModal{{ funcionario.matricula }}" tabindex="-1"
                        aria-labelledby="deleteModalLabel{{ funcionario.matricula }}" aria-hidden="true">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class="modal-header bg-danger text-white">
                                    <h5 class="modal-title" id="deleteModalLabel{{ funcionario.matricula }}">Confirmar
                                        Exclusão</h5>
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                        aria-label="Fechar"></button>
                                </div>
                                <div class="modal-body">
                                    Tem certeza que deseja excluir o funcionário <strong>{{ funcionario.nome}}</strong>?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <a href="{% url 'delete' funcionario.matricula %}"
                                        class="btn btn-danger">Excluir</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">Nenhum funcionário cadastrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<form method="post" id="funcionarioForm" enctype="multipart/form-data" autocomplete="off">
    <div class="modal fade" id="funcionarioModal" tabindex="-1" aria-labelledby="funcionarioModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form method="post" id="funcionarioForm">
                    {% csrf_token %}
                    <div class="modal-header bg-success text-white py-1">
                        <h5 class="modal-title" id="funcionarioModalLabel">Cadastrar Funcionário</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <!-- Coluna 1 -->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6 mb-1">
                                            <label for="id_matricula" class="form-label">Matrícula</label>
                                            {{ form.matricula }}
                                            {% if form.matricula.errors %}
                                            <div class="invalid-feedback d-block">
                                                {{ form.matricula.errors.0 }}
                                            </div>
                                            {% endif %}
                                        </div>

                                        <div class="col-md-6 mb-1">
                                            <label for="id_data_nascimento" class="form-label">Data de
                                                Nascimento</label>
                                            {{ form.data_nascimento }}
                                            {% if form.data_nascimento.errors %}
                                            <div class="invalid-feedback d-block">
                                                {{ form.data_nascimento.errors.0 }}
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="mb-1">
                                        <label for="id_nome" class="form-label">Nome</label>
                                        {{ form.nome }}
                                    </div>

                                    <div class="mb-1">
                                        <label for="id_funcao" class="form-label">Função</label>
                                        {{ form.funcao }}
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-1">
                                            <label for="id_cpf" class="form-label">CPF</label>
                                            {{ form.cpf }}
                                            {% if form.cpf.errors %}
                                            <div class="invalid-feedback d-block">
                                                {{ form.cpf.errors.0 }}
                                            </div>
                                            {% endif %}
                                        </div>

                                        <div class="col-md-6 mb-1">
                                            <label for="id_nivel_funcao" class="form-label">Nível da Função</label>
                                            {{ form.nivel_funcao }}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-1">
                                            <label for="id_status" class="form-label">Status</label>
                                            {{ form.status }}
                                        </div>

                                        <div class="col-md-6 mb-1">
                                            <label for="id_obra" class="form-label">Obra</label>
                                            {{ form.obra }}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <!-- Foto -->
                                        <div class="col-md-6 mb-1">
                                            <label class="form-label d-block">Foto</label>

                                            <div class="d-flex align-items-center gap-3">
                                                <!-- Ícone de câmera (clicável) -->
                                                <label for="id_foto" style="cursor: pointer;">
                                                    <img id="icon-camera" src="{% static 'img/camera.png' %}"
                                                        alt="Ícone de câmera" style="height: 40px;">
                                                </label>

                                                <!-- Miniatura da imagem -->
                                                {% if funcionario and funcionario.foto %}
                                                <img id="preview-foto" src="{{ funcionario.foto.url }}"
                                                    alt="Pré-visualização da foto" class="border rounded"
                                                    style="height: 40px; display: inline-block;">
                                                {% else %}
                                                <img id="preview-foto" src="" alt="Pré-visualização da foto"
                                                    class="border rounded" style="height: 60px; display: none;">
                                                {% endif %}
                                            </div>

                                            <!-- Campo oculto do upload -->
                                            {{ form.foto|add_class:"d-none" }}
                                        </div>

                                        <!-- Data de Admissão -->
                                        <div class="col-md-6 mb-1">
                                            <label for="id_data_admissao" class="form-label">Data de
                                                Admissão</label>
                                            {{ form.data_admissao }}
                                            {% if form.data_admissao.errors %}
                                            <div class="invalid-feedback d-block">
                                                {{ form.data_admissao.errors.0 }}
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <!-- Ordem de Serviço -->
                                        <div class="col-md-6 mb-1">
                                            <label class="form-label d-block" for="id_ordem_servico">Ordem de
                                                Serviço</label>
                                            <label for="id_ordem_servico" style="cursor: pointer;">
                                                {% if funcionario.ordem_servico %}
                                                <img id="icon-ordem-servico" src="{% static 'img/box_fechado.png' %}"
                                                    alt="Baú fechado" style="height: 40px;">
                                                {% else %}
                                                <img id="icon-ordem-servico" src="{% static 'img/box_aberto.png' %}"
                                                    alt="Baú aberto" style="height: 40px;">
                                                {% endif %}
                                            </label>
                                            {{ form.ordem_servico|add_class:"d-none" }}
                                            {% if form.ordem_servico.errors %}
                                            <div class="invalid-feedback d-block">
                                                {{ form.ordem_servico.errors.0 }}
                                            </div>
                                            {% endif %}
                                        </div>

                                        <!-- Contrato de Trabalho -->
                                        <div class="col-md-6 mb-1">
                                            <label class="form-label d-block" for="id_contrato_trabalho">Contrato de
                                                Trabalho</label>
                                            <label for="id_contrato_trabalho" style="cursor: pointer;">
                                                {% if funcionario.contrato_trabalho %}
                                                <img id="icon-contrato-trabalho"
                                                    src="{% static 'img/box_fechado.png' %}" alt="Baú fechado"
                                                    style="height: 40px;">
                                                {% else %}
                                                <img id="icon-contrato-trabalho" src="{% static 'img/box_aberto.png' %}"
                                                    alt="Baú aberto" style="height: 40px;">
                                                {% endif %}
                                            </label>
                                            {{ form.contrato_trabalho|add_class:"d-none" }}
                                            {% if form.contrato_trabalho.errors %}
                                            <div class="invalid-feedback d-block">
                                                {{ form.contrato_trabalho.errors.0 }}
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                <!-- Coluna 2 -->
                                <div class="col-md-6">
                                    <div class="mb-1">
                                        <label for="id_cep" class="form-label">CEP</label>
                                        <input type="text"
                                            class="form-control{% if form.errors.cep %} is-invalid{% endif %}"
                                            id="id_cep" name="cep" maxlength="9" required
                                            value="{{ form.data.cep|default_if_none:'' }}">
                                        <div class="invalid-feedback" id="cep-error" style="display: none;">CEP
                                            inválido ou não encontrado.</div>
                                    </div>

                                    <div class="mb-1">
                                        <label for="{{ form.logradouro.id_for_label }}"
                                            class="form-label">Logradouro</label>
                                        {{ form.logradouro }}
                                        {% if form.logradouro.errors %}
                                        <div class="invalid-feedback d-block">
                                            {{ form.logradouro.errors.0 }}
                                        </div>
                                        {% endif %}
                                    </div>

                                    <div class="mb-1">
                                        <label for="{{ form.bairro.id_for_label }}" class="form-label">Bairro</label>
                                        {{ form.bairro }}
                                        {% if form.bairro.errors %}
                                        <div class="invalid-feedback d-block">
                                            {{ form.bairro.errors.0 }}
                                        </div>
                                        {% endif %}
                                    </div>

                                    <div class="mb-1">
                                        <label for="{{ form.cidade.id_for_label }}" class="form-label">Cidade</label>
                                        {{ form.cidade }}
                                        {% if form.cidade.errors %}
                                        <div class="invalid-feedback d-block">
                                            {{ form.cidade.errors.0 }}
                                        </div>
                                        {% endif %}
                                    </div>

                                    <div class="mb-1">
                                        <label for="{{ form.uf.id_for_label }}" class="form-label">Estado
                                            (UF)</label>
                                        {{ form.uf }}
                                        {% if form.uf.errors %}
                                        <div class="invalid-feedback d-block">
                                            {{ form.uf.errors.0 }}
                                        </div>
                                        {% endif %}
                                    </div>

                                    <div class="mb-1">
                                        <label for="id_numero" class="form-label">Número</label>
                                        {{ form.numero }}
                                    </div>

                                    <div class="mb-1">
                                        <label for="id_complemento" class="form-label">Complemento</label>
                                        {{ form.complemento }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</form>


<!-- Modal de Sucesso -->
<div class="modal fade" id="cadastroSucessoModal" tabindex="-1" aria-labelledby="cadastroSucessoLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content border-success text-center">
            <div class="modal-header bg-success text-white py-2 d-flex justify-content-center position-relative">
                <h6 class="modal-title w-100" id="cadastroSucessoLabel">Sucesso!</h6>
                <button type="button" class="btn-close btn-close-white position-absolute end-0 me-2"
                    data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                Funcionário cadastrado com sucesso!
            </div>
        </div>
    </div>
</div>

<a href="#" id="print-pdf" title="Imprimir PDF">
    <i class="bi bi-printer"></i>
</a>

{% if messages %}
{% for message in messages %}
{% if 'cadastro' in message.tags %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const successModalEl = document.getElementById('cadastroSucessoModal');
        if (successModalEl) {
            const successModal = new bootstrap.Modal(successModalEl);
            successModal.show();

            // Fecha automaticamente após 3 segundos
            setTimeout(() => successModal.hide(), 3000);
        }
    });
</script>
{% endif %}
{% endfor %}
{% endif %}

<!-- Script para alternar Create/Update -->
<script>
    // Modo Create
    function setCreateMode() {
        document.getElementById("funcionarioModalLabel").innerText = "Cadastrar Funcionário";
        document.getElementById("funcionarioForm").action = "{% url 'create' %}";

        document.getElementById('id_matricula').value = '';
        document.getElementById('id_data_nascimento').value = '';
        document.getElementById('id_nome').value = '';
        document.getElementById('id_cpf').value = '';
        document.getElementById('id_funcao').value = '';
        document.getElementById('id_status').value = '';
        document.getElementById('id_obra').value = '';
        document.getElementById('id_nivel_funcao').value = '';
        document.getElementById('id_data_admissao').value = '';

        // Endereço
        document.getElementById('id_cep').value = '';
        document.getElementById('id_logradouro').value = '';
        document.getElementById('id_bairro').value = '';
        document.getElementById('id_cidade').value = '';
        document.getElementById('id_uf').value = '';
        document.getElementById('id_numero').value = '';
        document.getElementById('id_complemento').value = '';

        document.getElementById('id_matricula').readOnly = false;

        // Remove a classe 'is-invalid' dos inputs
        document.querySelectorAll('#funcionarioForm .is-invalid').forEach(function (el) {
            el.classList.remove('is-invalid');
        });

        // Esconde as mensagens de erro
        document.querySelectorAll('#funcionarioForm .invalid-feedback').forEach(function (el) {
            el.style.display = 'none';
            el.classList.remove('d-block');
        });

        // Campos e ícones
        const fileFields = [
            { id: 'id_foto', previewReset: true },
            { id: 'id_ordem_servico', iconId: 'icon-ordem-servico' },
            { id: 'id_contrato_trabalho', iconId: 'icon-contrato-trabalho' }
        ];

        fileFields.forEach(field => {
            const oldInput = document.getElementById(field.id);
            if (oldInput) {
                const newInput = oldInput.cloneNode(true);
                oldInput.parentNode.replaceChild(newInput, oldInput);

                if (field.previewReset) {
                    // Reset preview da foto
                    const preview = document.getElementById('preview-foto');
                    if (preview) {
                        preview.src = '';
                        preview.style.display = 'none';
                    }
                }

                if (field.iconId) {
                    const icon = document.getElementById(field.iconId);
                    if (icon) {
                        icon.src = "{% static 'img/box_aberto.png' %}";
                        icon.alt = "Baú aberto";
                        icon.classList.remove('icon-animate');
                    }
                }
            }
        });

        // Reaplicar event listeners nos inputs clonados
        setupFotoPreview();
        setupIconAnimation('id_ordem_servico', 'icon-ordem-servico');
        setupIconAnimation('id_contrato_trabalho', 'icon-contrato-trabalho');
    }

    function formatCPF(cpf) {
        cpf = cpf.replace(/\D/g, ''); // só números
        if (cpf.length !== 11) return cpf; // se não for 11 dígitos, retorna sem formatação
        return cpf.substring(0, 3) + '.' + cpf.substring(3, 6) + '.' + cpf.substring(6, 9) + '-' + cpf.substring(9, 11);
    }

    function setUpdateMode(matricula, data_nascimento, nome, cpf, funcao, nivel_funcao, status, obra, data_admissao, cep, logradouro, bairro, cidade, uf, numero, complemento, fotoUrl, ordemServicoExiste, contratoTrabalhoExiste) {
        function cleanValue(value) {
            if (!value || value === "None") {
                return '';
            }
            return value;
        }

        document.getElementById("funcionarioModalLabel").innerText = "Editar Funcionário";
        document.getElementById("funcionarioForm").action = "/update/" + matricula + "/";
        document.getElementById('id_data_nascimento').value = data_nascimento;

        // Preenche campos
        document.getElementById('id_matricula').value = matricula;
        document.getElementById('id_nome').value = nome;
        document.getElementById('id_cpf').value = formatCPF(cpf);
        document.getElementById('id_funcao').value = funcao;
        document.getElementById('id_status').value = status;
        document.getElementById('id_obra').value = obra;
        document.getElementById('id_nivel_funcao').value = nivel_funcao;
        document.getElementById('id_data_admissao').value = data_admissao;

        // Endereço
        document.getElementById('id_cep').value = cleanValue(cep);
        document.getElementById('id_logradouro').value = cleanValue(logradouro);
        document.getElementById('id_bairro').value = cleanValue(bairro);
        document.getElementById('id_cidade').value = cleanValue(cidade);
        document.getElementById('id_uf').value = cleanValue(uf);
        document.getElementById('id_numero').value = cleanValue(numero);
        document.getElementById('id_complemento').value = cleanValue(complemento);

        document.getElementById('id_matricula').readOnly = true;

        // Mostrar preview da foto
        const preview = document.getElementById('preview-foto');
        if (fotoUrl && fotoUrl.trim() !== '') {
            preview.src = fotoUrl;
            preview.style.display = 'inline-block';
        } else {
            preview.src = '';
            preview.style.display = 'none';
        }

        // Reset inputs file (não pode setar valor, então clone)
        ['id_foto', 'id_ordem_servico', 'id_contrato_trabalho'].forEach(id => {
            const input = document.getElementById(id);
            if (input) {
                const newInput = input.cloneNode(true);
                input.parentNode.replaceChild(newInput, input);
            }
        });

        // Atualizar ícones dos anexos
        const iconOrdem = document.getElementById('icon-ordem-servico');
        if (ordemServicoExiste) {
            iconOrdem.src = "{% static 'img/box_fechado.png' %}";
            iconOrdem.alt = "Baú fechado";
        } else {
            iconOrdem.src = "{% static 'img/box_aberto.png' %}";
            iconOrdem.alt = "Baú aberto";
        }
        iconOrdem.classList.remove('icon-animate');

        const iconContrato = document.getElementById('icon-contrato-trabalho');
        if (contratoTrabalhoExiste) {
            iconContrato.src = "{% static 'img/box_fechado.png' %}";
            iconContrato.alt = "Baú fechado";
        } else {
            iconContrato.src = "{% static 'img/box_aberto.png' %}";
            iconContrato.alt = "Baú aberto";
        }
        iconContrato.classList.remove('icon-animate');

        // Reaplicar event listeners nos inputs clonados
        setupFotoPreview();
        setupIconAnimation('id_ordem_servico', 'icon-ordem-servico');
        setupIconAnimation('id_contrato_trabalho', 'icon-contrato-trabalho');
    }


    function handleEditClick(button) {
        const data = button.dataset;

        console.log("DATA ADMISSÃO:", data.dataAdmissao);

        setUpdateMode(
            data.matricula,
            data.dataNascimento,
            data.nome,
            data.cpf,
            data.funcao,
            data.nivel_funcao,
            data.status,
            data.obra,
            data.data_admissao,
            data.cep,
            data.logradouro,
            data.bairro,
            data.cidade,
            data.uf,
            data.numero,
            data.complemento,
            data.fotoUrl,
            data.ordemServicoExiste === 'true',
            data.contratoTrabalhoExiste === 'true'
        );
    }

</script>

{% if form.errors %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const modalElement = document.getElementById('funcionarioModal');
        const modal = new bootstrap.Modal(modalElement);
        modal.show();
    });
</script>
{% endif %}

<!-- barra de pesquisa -->
<script>
    document.getElementById('searchInput').addEventListener('input', function () {
        const filter = this.value.toLowerCase();
        const rows = document.querySelectorAll('table tbody tr');

        rows.forEach(row => {
            const matricula = row.cells[0].textContent.toLowerCase();
            const nome = row.cells[1].textContent.toLowerCase();
            const funcao = row.cells[2].textContent.toLowerCase();
            const status = row.cells[3].textContent.toLowerCase();
            const obra = row.cells[4].textContent.toLowerCase();

            if (
                matricula.includes(filter) ||
                nome.includes(filter) ||
                funcao.includes(filter) ||
                status.includes(filter) ||
                obra.includes(filter)
            ) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });
</script>

<!-- Máscara para o campo CPF -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const cpfInput = document.getElementById('id_cpf');

        if (cpfInput) {
            IMask(cpfInput, {
                mask: '000.000.000-00'
            });
        }
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const cpfElements = document.querySelectorAll('[data-format-cpf]');

        cpfElements.forEach(el => {
            let rawCpf = el.textContent.replace(/\D/g, '');
            if (rawCpf.length === 11) {
                el.textContent = rawCpf.slice(0, 3) + '.' +
                    rawCpf.slice(3, 6) + '.' +
                    rawCpf.slice(6, 9) + '-' +
                    rawCpf.slice(9);
            }
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('funcionarioForm');
        const cepInput = document.getElementById('id_cep');
        const cepError = document.getElementById('cep-error');

        if (cepInput) {
            IMask(cepInput, {
                mask: '00000-000'
            });
        }

        // Armazenar o estado de validade do CEP
        let cepValido = true;

        form.addEventListener('submit', function (event) {
            const rawCep = cepInput.value.replace(/\D/g, '');

            if (rawCep.length !== 8 || cepInput.classList.contains('is-invalid')) {
                // Impede envio
                event.preventDefault();
                event.stopPropagation();

                // Adiciona estilo de erro se não tiver
                cepInput.classList.add('is-invalid');
                cepError.style.display = 'block';
                cepValido = false;
            }
        });

        // Validação ao digitar
        cepInput.addEventListener('input', function () {
            const rawCep = cepInput.value.replace(/\D/g, '');

            if (rawCep.length === 8) {
                fetch(`https://viacep.com.br/ws/${rawCep}/json/`)
                    .then(response => response.json())
                    .then(data => {
                        if (!data.erro) {
                            // CEP válido
                            cepInput.classList.remove('is-invalid');
                            cepError.style.display = 'none';
                            cepValido = true;

                            // Preenche os campos
                            document.getElementById('id_logradouro').value = data.logradouro || '';
                            document.getElementById('id_bairro').value = data.bairro || '';
                            document.getElementById('id_cidade').value = data.localidade || '';
                            document.getElementById('id_uf').value = data.uf || '';
                        } else {
                            mostrarErro();
                        }
                    })
                    .catch(() => {
                        mostrarErro();
                    });
            } else {
                // Ainda não há 8 dígitos - apenas limpa erros visuais
                cepInput.classList.remove('is-invalid');
                cepError.style.display = 'none';
            }
        });

        function mostrarErro() {
            cepInput.classList.add('is-invalid');
            cepError.style.display = 'block';
            cepValido = false;

            // Limpa os campos
            document.getElementById('id_logradouro').value = '';
            document.getElementById('id_bairro').value = '';
            document.getElementById('id_cidade').value = '';
            document.getElementById('id_uf').value = '';
        }
    });

    // anexo
    function setupIconAnimation(inputId, iconId) {
        const input = document.getElementById(inputId);
        const icon = document.getElementById(iconId);

        if (input && icon) {
            input.addEventListener('change', function () {
                if (input.files.length > 0) {
                    icon.src = "{% static 'img/box_fechado.png' %}";
                    icon.alt = "Baú fechado";
                } else {
                    icon.src = "{% static 'img/box_aberto.png' %}";
                    icon.alt = "Baú aberto";
                }

                icon.classList.remove('icon-animate'); // Reinicia se já tiver
                void icon.offsetWidth; // Força reflow
                icon.classList.add('icon-animate');
            });
        }
    }

    function setupFotoPreview() {
        const inputFoto = document.getElementById('id_foto');
        const preview = document.getElementById('preview-foto');

        if (inputFoto && preview) {
            inputFoto.addEventListener('change', function (event) {
                const file = event.target.files[0];
                if (file) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        preview.src = e.target.result;
                        preview.style.display = 'inline-block';
                    };
                    reader.readAsDataURL(file);
                } else {
                    preview.src = '';
                    preview.style.display = 'none';
                }
            });
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        const previewFoto = document.getElementById('preview-foto');
        if (previewFoto && previewFoto.src && !previewFoto.src.includes('base64') && previewFoto.src.trim() !== '') {
            previewFoto.style.display = 'inline-block';
        }
    });

</script>

<script>
    document.getElementById('print-pdf').addEventListener('click', function (e) {
        e.preventDefault();
        window.print();
    });
</script>

<script src="https://unpkg.com/imask"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}